.Bio {
    font-family: sans-serif;
    text-align: start;
    font-size: 20px; 
    font-weight: 520;
    letter-spacing: -1px;
    line-height: 1.2;
    margin: 20px 0 10px;
    margin-bottom: 20px;
    color: #fff;
  
   
    @media (min-width: 768px) {
      font-size: 30px; 
    }
  }