.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
  }
  .banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  .banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }
  .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner button:hover svg {
    margin-left: 25px;
  }
  .banner img {
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }
  .footer {
    padding: 0 0 50px 0;
    background-image: url('./assets/footer-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .newsletter-bx {
    background: #FFFFFF;
    border-radius: 55px;
    color: #121212;
    padding: 85px 125px;
    margin-bottom: 80px;
    margin-top: -122px;
  }
  .newsletter-bx h3 {
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.2em;
  }
  .new-email-bx {
    background: #fff;
    padding: 5px;
    border-radius: 20px;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
  }
  .new-email-bx::before {
    content: "";
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
  }
  .new-email-bx::after {
    content: "";
    background: #fff;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .new-email-bx input {
    width: 100%;
    color: #121212;
    font-weight: 500;
    background: transparent;
    border: 0;
    padding: 0 15px;
  }
  .new-email-bx button {
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    padding: 20px 65px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 18px;
  }
  .footer img {
    width: 26%;
  }
  .footer p {
    font-weight: 400;
    font-size: 14px;
    color: #B8B8B8;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }

  .social-icon {
    display: inline-flex;
    align-items: center;
    margin-left: 10px; /* Adjust the left margin as desired */
  }
  
  .social-icon a {
    width: 82px; /* Adjust the size of the social icons */
    height: 82px; /* Adjust the size of the social icons */
    background: transparent; /* Remove the background color */
    display: inline-flex;
    border-radius: 0; /* Remove the border-radius */
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: none; /* Remove the border */
    position: relative; /* Add position relative for animation */
  }
  
  .social-icon a img {
    width: 60%; /* Adjust the size of the social icons */
    z-index: 1;
    transition: 0.3s ease-in-out;
  }
  
  .social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  }
  
  .social-icon a:hover {
    transform: translateY(-5px); /* Move the social icons up by 5px */
  }
  
  
  nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center; /* Align navbar links to the center */
  }
  
  nav.navbar .navbar-nav {
    margin-left: auto; /* Move the navbar links towards the right */
  }
  
  nav.navbar.scrolled {
    background-color: #121212;
  }
  
  nav.navbar a.navbar-brand {
    width: 9%;
  }
  
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 900;
    color: #fff !important;
    letter-spacing: 0.8px;
    padding: 0 12px; /* Adjust the padding to bring the names closer */
    font-size: 30px;
    opacity: 0.75;
  }
  
  nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
  nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
  }
  span.navbar-text {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align buttons to the right */
    flex-grow: 1; /* Expand to fill remaining space */
  }
  
  .navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar-text button span {
    z-index: 1;
  }
  
  .navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: width 0.3s ease-in-out;
  }
  
  .navbar-text button:hover {
    background-color: #fff;
    color: #121212;
  }
  
  .navbar-text button:hover::before {
    width: 100%;
  }
  
  nav.navbar .navbar-toggler:active,
  nav.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  
  nav.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #fff;
    transition: all 300ms linear;
    top: -2px;
  }
  
  nav.navbar .navbar-toggler-icon:focus {
    border-bottom: 2px solid #fff;
  }
  
  nav.navbar .navbar-toggler-icon:after,
  nav.navbar .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
  }
  
  nav.navbar .navbar-toggler-icon:after {
    top: 8px;
  }
  
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
    background-color: #fff;
    height: 2px;
  }
  
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
    background-color: #fff;
    height: 2px;
  }
  
  nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
  }
  
  @font-face {
    font-family: Centra;
    src: url('./assets/CentraNo2-Bold.ttf');
    font-weight: 700;
  }
  
  @font-face {
    font-family: Centra;
    src: url('./assets/CentraNo2-Medium.ttf');
    font-weight: 500;
  }
  
  @font-face {
    font-family: Centra;
    src: url('./assets/CentraNo2-Book.ttf');
    font-weight: 400;
  }
  


  