.banner img {
    max-height: 300px; /* Reduce the max-height of the image */
    display: inline-block; /* Change the display property to inline-block */
    margin-bottom: 30px; /* Add margin-bottom to create space between the image and tagline */
    animation: updown 3s linear infinite;
}

@keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
}