.Bio {
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 520;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: start;
    margin: 20px 0 10px;
    margin-bottom: 20px;
    color: #fff;
  }